*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#banner{
	background-image: url(images/homebgblur.png);
	background-size: cover;
	display: flex;
}

.b1{
	font-family: Trebuchet MS;
	position: relative;
	top: 30%;
	width: 90%;
	text-align: left;
	margin-left: 100px;
	font-size: 80px;
	color: #DD6B4D;
}

.b2{
	font-family: Trebuchet MS;
	position: relative;
	top: 30%;
	width: 90%;
	text-align: left;
	margin-left: 100px;
	font-size: 50px;
	color: #bdbdbd;
}

.b3{
	font-family: Trebuchet MS;
	position: relative;
	top: 30%;
	width: 90%;
	text-align: left;
	margin-left: 100px;
	font-size: 25px;
	color: #DAE1E7;
}

.b4{
	font-family: Trebuchet MS;
	font-size: 25px;
	color: #DAE1E7;
	text-align: center;
	position: relative;
	top: 38%;
	width: 90%;
	margin-left: 100px;
	background-color: #1C4B82;
	border-radius: 25px;
	padding: 20px;
}

/*hover effect for Shop with Us button*/
.b4:hover{
	background-color: #DD6B4D;
	transition: 0.2s;
}

.bstext{
	font-family: Trebuchet MS;
	font-size: 45px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin: 10px 600px 0px 600px;
	border: 2px solid #DAE1E7;
}

.book{
	border: 2px solid #DAE1E7;
	padding: 20px;
	margin: 10px 0px 10px 0px;
	flex: 25%;
}

.bookimg{
	text-decoration: none;
	color: black;
	display: flex;
}

.bookdes{
	font-family: Trebuchet MS;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
}

.BN{
	color: #DAE1E7;
	background-color: #183661;
	border-radius: 5px;
	padding: 5px 40px 5px 40px;
}

/*Hover effect for Buy Now button*/
.BN:hover{
	background-color: #DD6B4D;
	transition: 0.2s;
}

#footer{
	background-color: #1C4B82;
	border-top: 5px solid #93B5C6;
	border-bottom: 5px solid #93B5C6;
	border-radius: 2px;
	align-items: center
}

.fdesc{
	font-family: Trebuchet MS; 
	font-size: 30px; 
	color: #DAE1E7;
	text-align: center;
}

.a{
	text-decoration: none;
}

.img{
	margin-top: 20px;
	margin: 20px;
}

/*hover effect for social media logos*/
.img:hover{
	border-bottom: 4px solid #DD6B4D;
	border-radius: 5px;
	transition: 0.1s;
}

.flogo{
	 margin: auto;
	 text-align: center;
}